    <div class="container templates">
      <!-- Example row of columns -->
      <div class="row">
      	<div ng-repeat="template in templates">
	        <div class="col-md-4">
	          <h2>{{template.name}}</h2>
	          <img ng-src="img/{{template.images[0].name}}">
	          <h4>{{template.price | currency}}</h4>
	          <p><a class="btn btn-primary btn-block" href="#/templates/{{template.id}}" role="button">View details &raquo;</a></p>
	        </div>
         </div>
      </div>

  

     

    